@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

h1 {
  font-size: 5vw;
  line-height: 1em;
  color: #222;
}

h2 {
  font-size: 4.6vw;
  line-height: 1em;
  color: #222;
}

h4 {
  font-size: 2vw;
  line-height: 1.2em;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 1.6vw;
  color: #222;
  line-height: 1.25em;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 4vw 8vw;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}